.firework-holder {
    margin: 0 auto;
}

.firework {
    width: 30px;
    height: 80px;
    background-color: #303030;
    margin: 0 auto;
}

.stick {
    width: 5px;
    height: 100px;
    background-color: #B5B533;
    margin: 0 auto;
}

.top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 30px 15px;
    border-color: transparent transparent #CC0000 transparent;
    margin: 0 auto;
}

.fuse {
    width: 3px;
    height: 10px;
    background-color: #B2B2B2;
    position: absolute;
    margin-left: 152px;
}