.christmas-tree-trunk {
    width: 20px;
    height: 600px;
    background-color: #663300;
    margin: 0 auto;
    top: 50px;
}

.window {
    width: 200px;
    height: 300px;
    background-color: #191919;
    border: 5px solid #855C33;
    position: absolute;
}

.window .divider-vertical {
    width: 5px;
    height: 300px;
    background-color: #855C33;
    margin: 0 auto;
}

.window .divider-horizontal {
    width: 200px;
    height: 5px;
    background-color: #855C33;
    position: absolute;
    margin-top: 150px;
}

.branch {
    width: 250px;
    height: 10px;
    background-color: #663300;
    position: absolute;
}