.present {
    width: 100px;
    height: 100px;
    background-color: #FF3300;
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 4px;
    
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.band-vertical {
    width: 15px;
    height: 100px;
    background-color: #009933;
    margin: 0 auto;
}

.band-horizontal {
    width: 100px;
    height: 15px;
    background-color: #009933;
    position: absolute;
    margin-top: -60px;
}